.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hide {
  display: none;
}

#box {
  margin-top: 20px;
  border: 2px solid black;
  width: 20%;
  height: 100px;
  text-align: center;
}

p {
  font-size: 28px;
}

button {
  margin-top: 40px;
  width: 20%;
  font-size: 20px;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  padding: 5px;
  cursor: pointer;
  border-color: #feac32;
}

button:hover {
  background-image: linear-gradient(#ffcc4c, #f89808);
}

input {
  margin-top: 50px;
  width: 20%;
  font-size: 20px;
  text-align: center;
}